/* Autocomplete box which is hidden initially */
.dropdown-autocomplete{
    width: 50%; 
    background-color: white;
    list-style: none; 
    position: absolute;
    top:100%;
    padding: 10px;
    height: auto;
    overflow-y: auto;
    z-index: 100;
}
.dropdown-autocomplete li:hover{
    background: #efefef;
}
/* Class to remove bottom border radius from search input */
.search-results{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
    cursor: pointer !important;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

